<!DOCTYPE html>
<html lang="en" id="home" >

<head>
  <meta charset="UTF-8">
  <title>Eder Nonato Fernandes</title>
  <link rel="stylesheet" href="static/css/styles.css" type="text/css">
  <link rel="icon" href="static/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=Sacramento&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud-image">
    <h1>I'm Eder</h1>
    <h2>a <span class="pro">pro</span>grammer and IT Analyst</h2>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-image">
    <img src="static/images/mountain.png" alt="mountain-image">
  </div>

  <div class="middle-container">
    <div class="top-bar-div">
      <nav class="top-bar">
        <ul>
          <li>
            <h3 class="top-bar-name">EDER NONATO FERNANDES</h3>
          </li>
          <li><button class="top-bar-btn" type="button" onclick="location.href='#home'">
              <p>HOME</p>
            </button></li>
          <li><button class="top-bar-btn" type="button" onclick="location.href='#skills_skill_row'">
              <p>SKILLS</p>
            </button></li>
          <li><button class="top-bar-btn" type="button" onclick="location.href='#personal_projects_skill_row'">
              <p>PROJECTS</p>
            </button></li>
          <li><button class="top-bar-btn" onclick="location.href='#programming'">
              <p>PROGRAMMING</p>
            </button></li>
          <li><button class="top-bar-btn" onclick="location.href='#education_skill_row'">
              <p>EDUCATION</p>
            </button></li>
          <li><button class="top-bar-btn" onclick="location.href='https://edernonato.github.io/cv'">
              <p>ONLINE CV</p>
            </button></li>
          <li><button class="top-bar-btn" onclick="location.href='#contact'">
              <p>CONTACT ME</p>
            </button></li>
        </ul>
      </nav>
    </div>
    <a class="languagebtnptbr" href="pt-br.html">PT-BR</a>
    <a class="languagebtnenus" href="index.html">EN-US</a>
    <div class="profile">
      <img class="profile-image" src="static/images/eder_photo.png" alt="Eder photo">
      <h2>Hello.</h2>
      <p class="intro">I am a professional with 8+ years of experience in IT Infrastructure, Support levels 1 and 2
        (Help desk and Service Now), technical sales and freelance development.</p>
    </div>
    <hr>
    <div id="skills" class="skills">
      <h2 id="skills1">My Skills</h2>
      <div id="skills_skill_row" class="skill-row ">
        <img class="skill-image-left" src="static/images/it_infrastructure-modified.png" alt="">
        <h3>IT Infrastructure</h3>
        <p class="skill-description1">Experience in IT Infrastructure handling management and administration of Help
          Desk tickets, troubleshooting and improvements of the IT infrastructure. Analysis and implementation of best
          practices of Information Security.
          Following ITIL guidelines and best practices of ITIL life cycle like problem management, change management and
          knowledge management. Mail Server and Inventory management. Implementation of Zabbix and Integration with
          Grafana.
          Experience using Zabbix and Grafana integration for monitoring the infrastructure and displaying the metrics
          using Dashboards in Grafana. Maintaining and supporting the IT Infrastructure providing devices for users of
          the company and clients.
          Administration of Mail-Server, Inventory, Help Desk and Intranet. Monitoring IT devices, firewall logs,
          network and PABX. Research and implementation of technics to improve the IT environment. Research,
          implementation and management of the Zabbix monitoring system.
        </p>
      </div>
      <div class="skill-row">
        <img class="skill-image-right" src="static/images/computer.png" alt="It support image">
        <h3>IT Support</h3>
        <p class="skill-description2">I have 3+ years experience in IT support level 1 and 2 (HelpDesk and Service Now).
          Providing remote and local
          support for Operational Systems (Windows XP, 7, 8, 10, Linux and Mac), computers, laptops, Servers, printers,
          phones (PABX), applications and ERP systems.</p>
      </div>
    </div>
    <h2 id="programming">Programming and Web Development</h2>
    <div class="skill-row">
      <img class="skill-image-left" src="static/images/Python.png" alt="computer image">
      <h3>Python</h3>
      <p class="skill-description3">Advanced level in python development. Projects dealing with backend
        development, API's, databases, web scraping, and more:</p>
      <ul>
        <li>Web Scraping using BeautifulSoup and Selenium</li>
        <li>Creation of API's using Flask</li>
        <li>Accessing Rest API's to put, update, delete, and get the data for different projects</li>
        <li>Creation of GUI's and classic games using Tkinter</li>
        <li>Sending emails using smtplib</li>
        <li>Handling CSV and Excel data using Pandas</li>
        <li>Connecting to MYSQL and SQLite databases, executing queries, inserting data and creating databases using
          SQLConnector</li>
      </ul>
    </div>
    <div class="skill-row">
      <img class="skill-image-right" src="static/images/Java.png" alt="computer image" style="width: 17%">
      <h3>Java</h3>
      <p class="skill-description3">Intermediate level in java. Projects using JavaFX, dealing with
        databases and more:</p>
      <ul>
        <li>Grafical Interfaces using JavaFX and Swing</li>
        <li>Connecting to MYSQL and SQLite databases, executing queries, inserting data and creating databases using
          mysql-connector-java and sqlite-jdbc</li>
        <li>Classic games using Swing and StdDraw</li>
      </ul>
    </div>
    <div class="skill-row">
      <img class="skill-image-left" src="static/images/Programming_and_Web_Development.png" alt="computer image">
      <h3>Web Development</h3>
      <p class="skill-description3">Basic level in web development HTML and CSS. Basic level of MySQL and SQLite</p>
      <ul>
        <li>Experience using HTML to format emails and send them in Python scripts</li>
        <li>Creation of Web Pages using HTML and CSS</li>
        <a class="cv-anchor" href="https://edernonato.github.io/cv">
          <li>Online Resume</li>
        </a>
        <a class="cv-anchor" href="https://edernonato.github.io/personalpage">
          <li>Personal Page</li>
        </a>
      </ul>
    </div>
    <div id="education_skill_row" class="skill-row">
      <img class="skill-image-right" src="static/images/education_and_courses-modified.png" alt="">
      <h3 id="education">Education and Courses</h3>
      <p class="skill-description4">Some of the courses I have taken.</p>
      <ul class="educationlist">
        <li>Information Systems 7th semester - In progress</li>
        <li>Electronic Technician</li>
        <li>Zabbix 5 Application and Network Monitoring</li>
        <li>Linux CentOS and Red Hat Enterprise Linux Administration</li>
        <li>Grafana</li>
        <li>Python development Advanced</li>
        <li>Java development Intermediate</li>
        <li>Windows Server, Active Directory and Group Policy</li>
      </ul>
      <p>The entire list of courses and certificates are available on my <a class="linkedinLink"
          href="https://www.linkedin.com/in/eder-nonato-fernandes-278b496b" target="_blank">LinkedIn</a>.</p>
    </div>
    <div id="personal_projects_skill_row" class="skill-row" style="margin-bottom:0">
      <img class="skill-image-left" src="../../static/images/personal_projects-modified.png" alt="">
      <h3 id="personal_projects">Personal Projects</h3>
      <p class="skill-description5">Projects that I have developed using my programming skills.</p>
      <ul class="personalProjectsList">
        <li><a class="personalProjectsList" id="ultra-retro" href="https://github.com/edernonato/ultraretro"
            target=”_blank”><iframe id="ultra-retro-frame"></iframe>UltraRetro</iframe></a></li>
        
        <li><a class="personalProjectsList" href="https://github.com/edernonato/zabbix_grafana_integration"
            target=”_blank”>Zabbix/Grafana Integration</a></li>
        <li><a class="personalProjectsList"
            href="https://github.com/edernonato/spotify-playlist-billboard-hot-100-time-travel-web-scrapping"
            target=”_blank”>Spotify Playlist Billboard Scraping</a></li>
        <li><a class="personalProjectsList"
            href="https://github.com/edernonato/internet-provider-twitter-complaint-bot-1" target=”_blank”>Internet
            Provider Twitter Complaint Bot</a></li>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/flight_deals" target=”_blank”>Flight
            Deals</a></li>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/linkedin-job-alert-selenium"
            target=”_blank”>LinkedIn Job Alert</a></li>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/amazon-ps5-lowest-price-web-scraping"
            target=”_blank”>Amazon Playstation 5 Price Drop Alert</a>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/new-free-games-epic-store-web-scraping"
            target=”_blank”>New Free Games Epic Store</a>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/new-cracked-game-alert"
            target=”_blank”>New Cracked Game Alert</a>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/quizzler" target=”_blank”>Quizzler</a>
        </li>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/tesla_stock_news" target=”_blank”>Tesla
            Stock News</a></li>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/flash_card" target=”_blank”>Flash Card
            App</a></li>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/password_generator"
            target=”_blank”>Password Generator</a></li>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/snake_game"
            target=”_blank”>SnakeGame</a></li>
        <li><a class="personalProjectsList" href="https://github.com/edernonato/pong_game" target=”_blank”>Pong Game</a>
        </li>
      </ul>
      <p>You can see some of my personal projects on my <a class="githubaccount" href="https://github.com/edernonato"
          target=”_blank”>GitHub</a> account</p>
    </div>
    <hr>
    <div id="contact" class="contact">
      <h2>Get In Touch</h2>
      <h3>If you are looking for an IT professional and are interested in my skills, or if you are a fellow programmer
        and have a suggestion, please contact me.</h3>
      <p class="contactDescription">You can send me an email or get in touch using linkedin or github.</p>
      <a class="btn" href="mailto:edernonato@outlook.com">CONTACT ME</a>
    </div>
  </div>
  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/eder-nonato-fernandes-278b496b"
      target=”_blank”>LinkedIn</a>
    <a class="footer-link" href="https://github.com/edernonato" target=”_blank”>GitHub</a>
    <a class="footer-link" href="https://edernonato.github.io/personalpage" target=”_blank”>Website</a>
    <p class="copyright">© 2023 Eder Nonato Fernandes.</p>
  </div>
  </div>
</body>

</html>