<!DOCTYPE html>
<html lang="PT-BR" id="home">

<head>
    <meta charset="UTF-8">
    <title>Eder Nonato Fernandes</title>
    <link rel="stylesheet" href="static/css/styles.css" type="text/css">
    <link rel="icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=Sacramento&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="top-container">
        <img class="top-cloud" src="static/images/cloud.png" alt="cloud-image">
        <h1>Eu sou Eder</h1>
        <h2>Um <span class="pro">pro</span>gramador e Analista de T.I</h2>
        <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-image">
        <img src="static/images/mountain.png" alt="mountain-image">
    </div>
    <div class="middle-container">
        <div class="top-bar-div">
            <nav class="top-bar">
                <ul>
                    <li>
                        <h3 class="top-bar-name">EDER NONATO FERNANDES</h3>
                    </li>
                    <li><button class="top-bar-btn" type="button" onclick="location.href='#home'">
                            <p>HOME</p>
                        </button></li>
                    <li><button class="top-bar-btn" type="button" onclick="location.href='#skills_skill_row'">
                            <p>SKILLS</p>
                        </button></li>
                    <li><button class="top-bar-btn" type="button"
                            onclick="location.href='#personal_projects_skill_row'">
                            <p>PROJETOS</p>
                        </button></li>
                    <li><button class="top-bar-btn" onclick="location.href='#programming'">
                            <p>PROGRAMACAO</p>
                        </button></li>
                    <li><button class="top-bar-btn" onclick="location.href='#education_skill_row'">
                            <p>FORMACAO</p>
                        </button></li>
                    <li><button class="top-bar-btn" onclick="location.href='https://edernonato.github.io/cv'">
                            <p>CV ONLINE</p>
                        </button></li>
                    <li><button class="top-bar-btn" onclick="location.href='#contact'">
                            <p>CONTATO</p>
                        </button></li>
                </ul>
            </nav>
        </div>
        <a class="languagebtnptbr" href="pt-br.html">PT-BR</a>
        <a class="languagebtnenus" href="index.html">EN-US</a>
        <div class="profile">
            <img class="profile-image" src="static/images/eder_photo.png" alt="Eder photo">
            <h2>Hello.</h2>
            <p class="intro"> Um profissional com mais de 8 anos de experiência em Infraestrutura de T.I, Suporte níveis
                1 e 2 (HelpDesk e Service Now), vendas técnicas e desenvolvimento freelance.</p>
        </div>
        <hr>
        <div id="skills_skill_row" class="skills">
            <h2>Minhas Skills</h2>
            <div class="skill-row">
                <img class="skill-image-left" src="static/images/it_infrastructure-modified.png" alt="">
                <h3>Infraestrutura de T.I</h3>
                <p class="skill-description1">Experiência em Infraestrutura de T.I lidando com o gerenciamento e
                    administração de chamados HelpDesk, análise de problemas e melhorias para a infraestrutura de T.I.
                    Análise e implantação de boas práticas de Segurança da Informação. Seguindo as diretrizes das etapas
                    de ciclo de vida ITIL, como gerenciamento de mudanças, geranciamento de problemas e gerenciamento de
                    conhecimento.
                    Administração de Servidor de emails, Inventário de T.I, Help Desk e Intranet. Implantação do
                    Sistema de monitoramento Zabbix e Integração com Grafana. Experiência usando a Integração
                    Zabbix/Grafana para monitoramento da Infraestrutura e apresentação das métricas
                    usandos as Dashboards do Grafana. Mantendo e Suportando a Infraestrutura de T.I providenciando
                    dispositivos e computadores para os usuários da empresa e clientes.
                    Monitoramento de dispositivos de T.I, logs de firewall, Network e PABX. Pesquisa e implantação de
                    técnicas para melhorias no ambiênte de T.I. Pesquisa, implantação e gerenciamento do Zabbix.</p>
            </div>
            <div class="skill-row">
                <img class="skill-image-right" src="static/images/computer.png" alt="It support image">
                <h3>Suporte de T.I</h3>
                <p class="skill-description2"> Eu tenho mais de 3 anos de experiência em suporte de T.I níveis 1 e 2
                    usando HelpDesk e Service Now.
                    Providenciando suporte remoto e local para Sistemas Operacionais (Windows XP, 7, 8, 10, Linux e
                    Mac), computadores, notebooks, servidores, impressoras, telefones (PABX), softwares e sistemas ERP.
                </p>
            </div>
        </div>
        <h2 id="programming">Programação e Desenvolvimento para Internet</h2>
        <div class="skill-row">
            <img class="skill-image-left" src="static/images/Python.png" alt="computer image">
            <h3>Python</h3>
            <p class="skill-description3">Nível de desenvolvimento Python Avançado. Projetos lidando
                com desenvolvimento Backend, API's, Bancos de Dados, web scraping e mais.</p>
            <ul>
                <li>Web Scraping usando BeautifulSoup e Selenium</li>
                <li>Criação de API's usando Flask</li>
                <li>Acessando Rest API's pra inserir, atualizar, deletar e coletar dados para diferentes projetos.</li>
                <li>Criação de Interfaces Gráficas e jogos classicos usando Tkinter</li>
                <li>Envio de emails usando smtplib</li>
                <li>Manipulando dados de arquivos CSV e Excel usando Pandas</li>
                <li>Conexão com Bancos de Dados MYSQL e SQLite, executando quiries, inserindo dados e criando novos
                    bancos de dados usando SQLConnector</li>
            </ul>
        </div>
        <div class="skill-row">
            <img class="skill-image-right" src="static/images/Java.png" alt="computer image" style="width: 17%">
            <h3>Java</h3>
            <p class="skill-description3">Nível de desenvolvimento Java intermediário. Projetos criados
                usando JavaFX, manipulando Bancos de Dados e mais:</p>
            <ul>
                <li>Interfaces Gráficas usando JavaFX e Swing</li>
                <li>Conexão com Bancos de Dados MYSQL e SQLite, executando quiries, inserindo dados e criando novos
                    bancos de dados usando mysql-connector-java e sqlite-jdbc</li>
                <li>Criação de jogos Clássicos usando Swing e StdDraw</li>
            </ul>
        </div>
        <div class="skill-row">
            <img class="skill-image-left" src="static/images/Programming_and_Web_Development.png" alt="computer image">
            <h3>Web Development</h3>
            <p class="skill-description3">Nível básico de desenvolvimento para Internet usando HTML e CSS. Nível básico
                de banco de dados MySQL e SQLite.</p>
            <ul>
                <li>Experiência usando HTML para formatação de emails e envio usando scripts Python</li>
                <li>Criação de Páginas Web usando HTML e CSS</li>
                <a class="cv-anchor" href="https://edernonato.github.io/cv">
                    <li>Curriculo Online</li>
                </a>
                <a class="cv-anchor" href="https://edernonato.github.io/personalpage">
                    <li>Página Pessoal</li>
                </a>
            </ul>
        </div>
        <div id="education_skill_row" class="skill-row">
            <img class="skill-image-right" src="static/images/education_and_courses-modified.png" alt="">
            <h3>Educação e Cursos</h3>
            <p class="skill-description4">Alguns dos cursos que eu fiz.</p>
            <ul class="educationlist">
                <li>Sistemas de Informação 7º semestre - Cursando</li>
                <li>Técnico em Eletrônica</li>
                <li>Zabbix 5 Aplicação e monitoramento de Internet</li>
                <li>Administração Linux CentOS e Red Hat Enterprise Linux</li>
                <li>Grafana</li>
                <li>Desenvolvimento Python Avaçado</li>
                <li>Desenvolvimento Java Intermediário</li>
                <li>Windows Server, Active Directory e Politica de Grupo</li>
            </ul>
            <p>A lista com todos os meus cursos e certificados estão disponíveis no meu <a class="linkedinLink"
                    href="https://www.linkedin.com/in/eder-nonato-fernandes-278b496b" target="_blank">LinkedIn</a>.</p>
        </div>
        <div id="personal_projects_skill_row" class="skill-row" style="margin-bottom:0">
            <img class="skill-image-left" src="static/images/personal_projects-modified.png" alt="">
            <h3>Projetos Pessoais</h3>
            <p class="skill-description5">Alguns Projetos e programas que eu desenvolvi usando as linguagens de
                programação que eu.</p>
            <ul class="personalProjectsList">
                <li><a class="personalProjectsList" href="https://github.com/edernonato/ultraretro"
                        target=”_blank”>UltraRetro</a></li>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/zabbix_grafana_integration"
                        target=”_blank”>Zabbix/Grafana Integration</a></li>
                <li><a class="personalProjectsList"
                        href="https://github.com/edernonato/spotify-playlist-billboard-hot-100-time-travel-web-scrapping"
                        target=”_blank”>Spotify Playlist Billboard Scraping</a></li>
                <li><a class="personalProjectsList"
                        href="https://github.com/edernonato/internet-provider-twitter-complaint-bot-1"
                        target=”_blank”>Internet Provider Twitter Complaint Bot</a></li>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/flight_deals"
                        target=”_blank”>Flight
                        Deals</a></li>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/linkedin-job-alert-selenium"
                        target=”_blank”>LinkedIn Job Alert</a></li>
                <li><a class="personalProjectsList"
                        href="https://github.com/edernonato/amazon-ps5-lowest-price-web-scraping" target=”_blank”>Amazon
                        Playstation 5 Price Drop Alert</a>
                <li><a class="personalProjectsList"
                        href="https://github.com/edernonato/new-free-games-epic-store-web-scraping" target=”_blank”>New
                        Free Games Epic Store</a>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/new-cracked-game-alert"
                        target=”_blank”>New Cracked Game Alert</a>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/quizzler"
                        target=”_blank”>Quizzler</a>
                </li>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/tesla_stock_news"
                        target=”_blank”>Tesla
                        Stock News</a></li>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/flash_card"
                        target=”_blank”>Flash Card
                        App</a></li>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/password_generator"
                        target=”_blank”>Password Generator</a></li>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/snake_game"
                        target=”_blank”>SnakeGame</a></li>
                <li><a class="personalProjectsList" href="https://github.com/edernonato/pong_game" target=”_blank”>Pong
                        Game</a>
                </li>
            </ul>


            <p>Você pode ver alguns dos meus programas e projetos pessoais na minha conta do <a class="githubaccount"
                    href="https://github.com/edernonato" target=”_blank”>GitHub</a></p>
        </div>



        <hr>
        <div id="contact" class="contact">
            <h2>Entre em contato</h2>
            <h3>Se você está procurando por um Profissional de T.I para a sua empresa ou se você tem alguma sugestão,
                por favor, entre em contato.</h3>
            <p class="contactDescription">Você pode me enviar um email ou entrar em contato usando o LinkedIn ou GitHub.
            </p>
            <a class="btn" href="mailto:edernonato@outlook.com">ENTRE EM CONTATO</a>
        </div>
    </div>


    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/eder-nonato-fernandes-278b496b"
            target=”_blank”>LinkedIn</a>
        <a class="footer-link" href="https://github.com/edernonato" target=”_blank”>GitHub</a>
        <a class="footer-link" href="https://edernonato.github.io/personalpage" target=”_blank”>Website</a>
        <p class="copyright">© 2023 Eder Nonato Fernandes.</p>
    </div>

</body>

</html>